<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Bienvenido <%= username %> a la home</h1>
    <p>Id: <%= id %>
    </p>
    <p>Email: <%= email %>
    </p>
    <button id="logout">Cerrar sesioÌn</button>

    <script>
        const PORT = window.location.port ?? '';

        document.getElementById('logout').addEventListener('click', () => {
            const res = fetch(`http://localhost:${PORT}/logout`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => res.json())
                .then((data) => {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                })
                .catch(error => console.log(error));

        });
    </script>
</body>

</html>