<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Bienvenido <%= username %> a la home</h1>
    <p>Id: <%= id %>
    </p>
    <p>Email: <%= email %>
    </p>
    <button id="logout">Cerrar sesioÌn</button>
</body>

</html>